* {
 
    box-sizing: border-box;
    margin: 0;
}

.body {
font-family: "Montserrat", "Arial", sans-serif;
font-weight: 500;
font-style: normal;
background: #fafcf7;
}

.img-responsive {
max-width: 100%;
height: auto;
}

.container {
max-width: 1300px;
min-width: 360px;
margin: 0 auto;
padding: 0 15px;

}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}

.grid {
display: grid;
grid-template-columns: repeat(4 , 1fr);
grid-template-rows: repeat(3 , auto);
align-items: center;
justify-items: start;
column-gap: 40px;
row-gap: 20px;
}
.btn {
    background-color: aqua;
    width: 200px;
    height: 50px;
    border-radius: 38%;
}
.par {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: blue;
}