* {
 
    box-sizing: border-box;
    margin: 0;
}

.body {
font-family: "Montserrat", "Arial", sans-serif;
font-weight: 500;
font-style: normal;
background: #fafcf7;
}

.img-responsive {
max-width: 100%;
height: auto;
}

.container {
max-width: 1300px;
min-width: 360px;
margin: 0 auto;
padding: 0 15px;
position: relative;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}
#votingContainer {
    text-align: center;
}

.smiley-button {
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
}

.vote-count {
    display: block;
    margin-top: 5px;
}