* {
 
    box-sizing: border-box;
    margin: 0;
}

.body {
font-family: "Montserrat", "Arial", sans-serif;
font-weight: 500;
font-style: normal;
background: #fafcf7;
}

.img-responsive {
max-width: 100%;
height: auto;
}

.container {
max-width: 1300px;
min-width: 360px;
margin: 0 auto;
padding: 0 15px;

}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}

#testimonials {
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(1, auto);
    align-items: center;
    justify-items: start;
    column-gap: 40px;
    row-gap: 20px;
    }

h3 {
    font-size: 30px;
    text-transform: capitalize;
}
p {
    font-size: 30px;
    text-transform: capitalize;
}

.butt {
    background-color: aqua;
    width: 200px;
    height: 50px;
    border-radius: 20%;
    position: fixed;
    top:300px;
    right: 150px;
    width: 35%;
}